.header {
	position: fixed;
	background-color:none;
	opacity: 1.0;
	height: 74px;
	width: 1260px;
	padding: 5px;
}

.container{
    display: flex;
    /* justify-content: center; */
}

.buttons button {
	background:none;
	color: #24a3bf;
	border:white;
	border-radius: 100px;
	font-size: 20px;
	height: 50px;
	justify-content: center;
   	font-family:"Secular One", sans-serif;
	margin-left: 50px;
    transition: .2s all;
}

.buttons button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#principal {
	background-image: url('../assets/dog.jpg');
	clear:both;
	background-size: 100%;
	min-height: 800px;
	padding: 100px 0 0;
}

.logo{
	float: left;
    width: 20%;
    height: 20%;
    align-items: center;
}

.logo img {
    width: 10rem;
    height: 10rem;
}


#menu{
	float: right;
}
  
#txtBusca {
    float:center;
    background-color:transparent;
    padding-left:5px;
    font-style:"Secular One";
    font-size:18px;
    border:transparent;
    height:18px;
    width:200px;
}

/* ======================================================== */
.block3, .block4 {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #8fcbdf;
}

.services {
    background-color: #F2B705;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin: auto; */
    width: 46.7rem;
    height: 70rem;
    /* margin: auto; */
    /* padding: 5rem; */
}

.block4 .left-content {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #f27405;
    /* background-color: rebeccapurple; */
}

.block4 .left-content input {
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #f27405;
    width: 44.8rem;
}

.block4 .left-content input:not(:first-child) {
    margin-bottom: 2.4rem;
    /* margin-top: 2.4rem; */
}
.block4 .right-content {
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    /* width: 641px;
    height: 548px;
    left: 691px;
    top: 222px; */
}

/* .block4 .left-content .msgicon {
    width: 10px;
    height: 10px;
} */

.icons {
    width: 2.5rem;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1.5rem;
}

.email .telefone .cidade {
    display: flex;
    align-items: center;
    justify-content: center;
}


.fale-conosco {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.fale-conosco h1 {
    font-weight: 700;
}

/* .fale-conosco img {
    width: 2.5rem;
    height: 2rem;
} */

.block4 .right-content .contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 1.5rem;
    margin-left: 3rem;
    /* justify-content: center; */
    width: 61.2rem;
    height: 52rem;
    background-color: #f27405;
    color: #fff;
}

.block4 .right-content .contact span:first-child {
    margin-top: 2rem;
}

/* .block4 .right-content .contact img {
    height: auto; */
/* } */

.mapa-jm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block4 .right-content .contact iframe {
    margin-top: 2.4rem;
    width: 49.8rem;
    height: 32rem;
    outline: none;
}

.btn {
    
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 25rem;
    width: 10rem;
    color: #f27405 !important;
    font-size: 1.5rem !important;
    border: solid 2px #f27405 !important;
    /* background-color: red; */
    /* color: red; */
    cursor: pointer;
    transition: .2s all !important;
}

.btn:hover {
    background-color: #f27405 !important;
    color: #fff !important;
}

/* 
h2{
    
    width: 628px;
    height: 90px;
    left: 35px;
    top: 1110px;
    
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    
    color: #00A091;
    }
    h3{
        
        position: absolute;
        width: 470px;
        height: 267px;
        left: 698px;
        top: 1271px;
        
        font-family: Asap;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        
    
    color: #00A091;
    }
    .text
    h4{
        position: absolute;
        width: 770px;
        height: 32px;
        left: -170px;
        top: 1825px;
        
        font-family: Asap;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
        text-align: center;
        
        color: #FFFFFF;
    }
    
    h5{
        position: absolute;
        width: 370px;
        height: 84px;
        
        font-family: Asap;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 55px;
    
    color: #00A091;
    }
    
    h6{
       
    width: 703px;
    height: 90px;
    
    
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    
    color: #00A091;
    }
    h7{
        
    width: 330px;
    height: 153px;
    left: 118px;
    top: 2863px;
    
    font-family: Asap;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    
    color: #00A091;
    
    } */
