<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- styles -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/styles.css" />
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- icon da pag -->
    <link
      rel="shortcut icon"
      href="../assets/galac-icon.ico"
      type="image/x-icon"
    />

    <title>Petshop Galac</title>
  </head>

<body>
    <header class="header">
      <div class="left"><img src="../assets/galac.png" alt="logo" /></div>

      <div class="right">
        <nav class="menu-bar">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Sobre Nós</a></li>
            <li><a href="#agendamento">Agendamento</a></li>
            <li><a href="#contato">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="block1" id="home">
      <!-- <img src="../assets/dog-background.png" alt="background image" class="background"> -->

      <div class="social-medias">
        <a href="https://github.com" target="_blank"
          ><img class="facebook" src="../assets/facebook.svg" alt="Facebook"
        /></a>

        <a href="#" target="_blank"
          ><img
            class="insta"
            src="../assets/instagram-square.svg"
            alt="Instagram"
        /></a>

        <a href="#" target="_blank"
          ><img
            class="twitter"
            src="../assets/twitter-square.svg"
            alt="Twitter"
        /></a>

        <a href="#" target="_blank"
          ><img class="linkedin" src="../assets/linkedin.svg" alt="Linkedin"
        /></a>
      </div>
    </div>

    <div class="block2" id="about">
      <!-- block2 - text, imagens, espaçamentos, -->
      <div class="sections">
        <section>
          <img src="../assets/missao.svg" alt="" />
          <h2 class="italic">Missão</h2>
          <article>
            Oferecer serviços que possam trazer bem-estar para os pets,
            conquistar o carinho e a confiança de seus donos.
          </article>
        </section>

        <section>
          <img src="../assets/visao.svg" alt="" />
          <h2 class="italic">Visão</h2>
          <article>
            Estar entre as melhores empresas de petshop e expandir os negócios
            para outras cidades.
          </article>
        </section>

        <section>
          <img src="../assets/valores.svg" alt="" />
          <h2 class="italic">Valores</h2>
          <article>
            Criatividade, organização, disciplina, transparência, amar e
            respeitar os animais.
          </article>
        </section>
      </div>

      <div class="history">
        <h1 class="italic">Sobre Nós</h1>
        <article>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. <br /><br />
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum.
        </article>
      </div>
    </div>

    <div class="block3" id="agendamento">
      <!-- block3 - contratação e serviços, -->

      <div class="services-content">
        <div class="services">
          <div class="solutions">
            <img src="../assets/lightbulb.svg" alt="soluções" />
            <h2 class="italic">Soluções</h2>
          </div>

          <div class="tosa margin">
            <img src="../assets/tosas.svg" alt="tosa" />
            <p>Tosa</p>
          </div>
          <div class="banho margin">
            <img src="../assets/banhos.svg" alt="banho" />
            <p>Banho</p>
          </div>
          <div class="vacinas margin">
            <img src="../assets/vacinas.svg" alt="vacinas" />
            <p>Vacinas</p>
          </div>
          <div class="consultas margin">
            <img src="../assets/consultas.svg" alt="consultas" />
            <p>Consultas</p>
          </div>

          <div class="info">
            <h2 class="italic">Como funciona ?</h2>
            <p>
              Preencha o formulário ao lado para agendar um serviço, e iremos
              até você para buscar seu pet!
            </p>
          </div>
        </div>
      </div>

      <div class="google-form">
        <div class="agendamento">
          <img src="../assets/agendamentos.svg" alt="agendamento" />
          <h2 class="italic">Agendamento</h2>
        </div>

        <div class="iframe">
          <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSed4_i37oUM_a3ffKUOiL4fcrm5a31LC54CtXn7YCxc4WuAtw/viewform?embedded=true"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            >A carregar…</iframe
          >
        </div>
      </div>
    </div>


    <section id="contato">
   <div class="block4"> 
    <div class="left-content">
      
      <h1 class="italic">Fale Conosco</h1>
      <form name="form" action="/" id="contact-form" method="POST">

        
        <p class="nome">Nome</p>
        <input id="nome" type="text" name="name" required="required">

        <p class="email">Email</p>
        <input id="email" type="email" name="email" required="required">
        
        <p class="telefone">Telefone</p>
        <input id="telefone" type="text" name="telefone" required="required">
        
        <p class="mensagem">Mensagem</p>
        <input id="mensagem" type="text" name="mensagem" required="required"><br><br>
        
        <button class="enviar" type="submit" form="contact-form" value="Enviar">Enviar</button>

        
    </form>
      
    </div>
    
    <div class="right-content">
      <div class="contact">
        
        <div class="email-galac left">
          <img class="margin-right" src="../assets/envelope.svg" alt="msg icon">
          <span>petgalac@gmail.com</span>
        </div>

        <div class="telefone-galac left">
          <img class="margin-right" src="../assets/fone.svg" alt="fone">
          <span>(31) 99999-8888</span>
        </div>

        <div class="local left">
          <img class="margin-right" src="../assets/map.svg" alt="">
          <span>João Monlevade - MG</span>
        </div>
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60051.097685410685!2d-43.19216711072972!3d-19.83175944237061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa5074732765415%3A0xe75615374cb9bb9a!2sJo%C3%A3o%20Monlevade%2C%20MG!5e0!3m2!1spt-BR!2sbr!4v1619543192374!5m2!1spt-BR!2sbr"style="border:0;" allowfullscreen="" loading="lazy"></iframe>

      </div>
    </div>

  </div>
</section>

  <script>
    
  </script>  

  </body>
</html>
