<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Roboto", sans-serif;
            background-color: #8fcbdf;
        }

        .msg {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .msg h1 {
            color: #f27405;
            font-size: 50px;
            font-style: italic;
            font-weight: 700;
        }
    </style>
    <title>Galac Petshop</title>
</head>
<body>
    <div class="msg">
        <h1>Formulário Enviado</h1>
    </div>

    <script>
        alert("to aqui")
        setTimeout(() => {
            window.location.href("/")
        }, 5000)
    </script>

</body>
</html>