:root {
    font-size: 60%;
}

::-webkit-scrollbar {
    width: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",  "Secular One", sans-serif;
    font-size: 400;
    outline: none;
}

html, 
body {
    height: 100vh;
}

@media (max-width: 699px) {
    :root {
        font-size: 40%;
    }
}